-- Migration: 46_setup_demo_servers.sql
-- Purpose: Add premium column and seed demo servers

-- 1. Add is_premium column if it doesn't exist
ALTER TABLE public.vpn_servers ADD COLUMN IF NOT EXISTS is_premium BOOLEAN DEFAULT FALSE;

-- 2. Clear old test data (Optional, safely)
DELETE FROM public.vpn_servers;

-- 3. Insert Demo Servers
